{% extends "admin/base.html" %}
{% load static %}
{% if request.COOKIES.language == "AR" %}
    <html lang="ar" dir="rtl">
{% else %}
    <html lang="en" dir="ltr">
{% endif %}
{% block title %}
    LimousineCairo | ADMIN
{% endblock %}
{% block extrastyle %}
    <link rel="icon" type="image/x-icon" href="{% static 'limo_app/images/logo.png' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'limo_app/admin/styles.css' %}"/> -->
{% endblock %}
{% block branding %}
    <h1 id="site-name">
        LimousineCairo | ADMIN
    </h1>
{% endblock %}
{% block nav-global %}{% endblock %}