{% load static %}
{% load extras %}
<!DOCTYPE html>
{% if request.COOKIES.language == "AR" %}
<html lang="ar" dir="rtl">
{% else %}
<html lang="en" dir="ltr">
{% endif %}

<head>
    {% if request.COOKIES.language == "AR" %}
        <title>عن ليموزين القاهرة</title>
    {% else %}
        <title>About Limousine Cairo</title>
    {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'limo_app/images/logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'limo_app/main/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'limo_app/section/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'limo_app/about/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'limo_app/navbar/styles.css' %}">
    <link rel="stylesheet" type="text/css"
        href="{% static 'limo_app/libs/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css">
</head>

<body>
    <div class="nav-wrapper h-100">
        {% include 'navbar.html' %}
    </div>
    <div class="body-wrapper menuDisplayed">
        <div id="main-body" class="main-body col-lg-12">
            {% with pages_info|get_by_index:0 as page%}
                <div class="parallax" style="background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url({{page.banner.url}});">
                    <img src="{% static 'limo_app/images/logo2.png' %}" alt="About LimousineCairo - عن ليموزين القاهرة">
                </div>
            {% endwith %}
            <div class="about-comp">
                <h2> 
                    {% with pages_info|get_by_index:0 as page%}
                        {% if request.COOKIES.language == "AR" %}
                            {{ page.title_ar }}
                        {% else %}
                            {{ page.title }}
                        {% endif %}
                    {% endwith %}
                </h2>
                <br>
                <p> 
                    {% with pages_info|get_by_index:0 as page%}
                        {% if request.COOKIES.language == "AR" %}
                            {{ page.description_ar }}
                        {% else %}
                            {{ page.description }}
                        {% endif %}
                    {% endwith %}
                </p>
                <br>
                <br>
                <div class="timeline">
                    {% if History %}
                        {% for moment in History %}
                            {% if request.COOKIES.language == "AR" %}
                                {% if forloop.counter0|divisibleby:2 %}
                                    <div class="container right">
                                        <div class="content">
                                            <h2>{{moment.date}}</h2>
                                            <p>
                                                {% if request.COOKIES.language == "AR" %}
                                                    {{moment.description_ar}}
                                                {% else %}
                                                    {{moment.description}}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="container left">
                                        <div class="content">
                                            <h2>{{moment.date}}</h2>
                                            <p>
                                                {% if request.COOKIES.language == "AR" %}
                                                    {{moment.description_ar}}
                                                {% else %}
                                                    {{moment.description}}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% else %}
                                {% if forloop.counter0|divisibleby:2 %}
                                    <div class="container left">
                                        <div class="content">
                                            <h2>{{moment.date}}</h2>
                                            <p>
                                                {% if request.COOKIES.language == "AR" %}
                                                    {{moment.description_ar}}
                                                {% else %}
                                                    {{moment.description}}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="container right">
                                        <div class="content">
                                            <h2>{{moment.date}}</h2>
                                            <p>
                                                {% if request.COOKIES.language == "AR" %}
                                                    {{moment.description_ar}}
                                                {% else %}
                                                    {{moment.description}}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% if request.COOKIES.language == "AR" %}
                            <h4>لا يوجد لحظات تاريخية في الوقت الحالي</h4>
                        {% else %}
                            <h4>There are no available History moments currently</h4>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="row mt-5 w-100" id="section-7" style="border-top: 2px solid rgb(40, 42, 60);">
                    <div class="col-sm-10 m-auto pt-5 pb-5">
                        <h2>
                            {% if request.COOKIES.language == "AR" %}
                                اراء العملاء
                            {% else %}
                                Testimonials
                            {% endif %}
                        </h2>
                        <br>
                        <div class="testimonials-container">
                            {% if Testimonials %}
                                {% for testimonial in Testimonials %}
                                    <div class="testimonials-item card text-center">
                                        <i class="bi bi-quote"></i>
                                        <div class="card-body blockquote">
                                            <p class="card-text">
                                                {% if request.COOKIES.language == "AR" %}
                                                    {{testimonial.quote_ar}}
                                                {% else %}
                                                    {{testimonial.quote}}
                                                {% endif %}
                                            </p>
                                            <footer class="blockquote-footer">
                                                <cite title="Source Title">
                                                    {% if request.COOKIES.language == "AR" %}
                                                        {{testimonial.name_ar}}
                                                    {% else %}
                                                        {{testimonial.name}}
                                                    {% endif %}
                                                </cite>
                                            </footer>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% if request.COOKIES.language == "AR" %}
                                    <h4>لا يوجد اراء العملاء في الوقت الحالي</h4>
                                {% else %}
                                    <h4>There are no available testimonials at the moment</h4>
                                {% endif %}
                            {% endif %}
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
    {% include 'add-ons.html' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="{% static 'limo_app/libs/bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'limo_app/section/scripts.js' %}"></script>
    <script src="{% static 'limo_app/navbar/scripts.js' %}"></script>
    <script src="{% static 'limo_app/main/scripts.js' %}"></script>
    <script src="{% static 'limo_app/about/scripts.js' %}"></script>
</body>

</html>