{% load static %}
{% load extras %}
<div class="container-fluid sections">
    <div class="row section" id="section-1">
        <div class="col-sm-10 m-auto">
            <h2> 
                {% with pages_info|get_by_index:0 as page%}
                    {% if request.COOKIES.language == "AR" %}
                        {{ page.title_ar }}
                    {% else %}
                        {{ page.title }}
                    {% endif %}
                {% endwith %}
            </h2>
            <br>
            <p> 
                {% with pages_info|get_by_index:0 as page%}
                    {% if request.COOKIES.language == "AR" %}
                        {{ page.description_ar }}
                    {% else %}
                        {{ page.description }}
                    {% endif %}
                {% endwith %}
            </p>
            <div class="services-container">
                <div class="service-icon">
                    <img src="{% static 'limo_app/images/24-hours-phone-service.png' %}" alt="Cairo Airport Limousine 24/7 - 24/7 ليموزين مطار القاهرة">
                    <br>
                    <h4>
                        {% if request.COOKIES.language == "AR" %}
                            خدمة 24 ساعة يوميا
                        {% else %}
                            24/7 Service
                        {% endif %}
                    </h4>
                </div>
                <div class="service-icon">
                    <img src="{% static 'limo_app/images/around-the-world.png' %}" alt="Cairo Airport Limousine Globe - حول العالم ليموزين مطار القاهرة">
                    <br>
                    <h4>
                        {% if request.COOKIES.language == "AR" %}
                            نتواجد حول العالم
                        {% else %}
                            Around the Globe
                        {% endif %}
                    </h4>
                </div>
                <div class="service-icon">
                    <img src="{% static 'limo_app/images/traffic-jam.png' %}" alt="Cairo Airport Limousine Luxurious - رقاهية ليموزين مطار القاهرة">
                    <br>
                    <h4>
                        {% if request.COOKIES.language == "AR" %}
                            اسطول من الرفاهية
                        {% else %}
                            Luxurious Fleet
                        {% endif %}
                    </h4>
                </div>
                <div class="service-icon">
                    <img src="{% static 'limo_app/images/save-money.png' %}" alt="Cairo Airport Limousine Prices - اسعار ليموزين مطار القاهرة">
                    <br>
                    <h4>
                        {% if request.COOKIES.language == "AR" %}
                            اسعار منافسة
                        {% else %}
                            Competitive Prices
                        {% endif %}
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row section" id="section-2">
        <div class="section-icon">
            <i class="bi bi-question-lg"></i>
        </div>
        <div class="col-sm-10 m-auto pt-5 pb-5">
            <h2> 
                {% with pages_info|get_by_index:1 as page%}
                    {% if request.COOKIES.language == "AR" %}
                        {{ page.title_ar }}
                    {% else %}
                        {{ page.title }}
                    {% endif %}
                {% endwith %}
            </h2>
            <br>
            <p> 
                {% with pages_info|get_by_index:1 as page%}
                    {% if request.COOKIES.language == "AR" %}
                        {{ page.description_ar }}
                    {% else %}
                        {{ page.description }}
                    {% endif %}
                {% endwith %}
            </p>
            {% if Services %}
                <div class="services-container">
                    {% for service in Services %}
                        <div class="services-item">
                            <img src="{{service.thumbnail.url}}" class="services-img" alt="Cairo Airport Limousine Services - خدمات ليموزين مطار القاهرة">
                            <div class="services-img-overlay">
                                <p class="fw-bold">
                                    {% if request.COOKIES.language == "AR" %}
                                        {{service.title_ar}}
                                    {% else %}
                                        {{service.title}}
                                    {% endif %}
                                </p>
                                <p>
                                    {% if request.COOKIES.language == "AR" %}
                                        {{service.summary_ar}}
                                    {% else %}
                                        {{service.summary}}
                                    {% endif %}
                                </p>
                                <a type="button" class="btn read-more" href="services/{{service.slug}}">
                                    {% if request.COOKIES.language == "AR" %}
                                        المزيد
                                    {% else %}
                                        Read More
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <br>
                <h3>
                    {% if request.COOKIES.language == "AR" %}
                        لا يوجد خدمات حاليا
                    {% else %}
                        No Services are currently Available
                    {% endif %}
                </h3>
            {% endif %}
            <a type="button" class="btn read-more-outter" href="{% url 'services' %}">
                {% if request.COOKIES.language == "AR" %}
                    مشاهدة الكل
                    <i class="bi bi-arrow-left"></i>
                {% else %}
                    View All
                    <i class="bi bi-arrow-right"></i>
                {% endif %}
            </a>
        </div>
    </div>
    <div class="row section" id="section-3">
        <div class="section-icon">
            <i class="bi bi-car-front-fill text-white"></i>
        </div>
        <div class="col-sm-10 m-auto pt-5 pb-5">
            <h2> 
                {% with pages_info|get_by_index:2 as page%}
                    {% if request.COOKIES.language == "AR" %}
                        {{ page.title_ar }}
                    {% else %}
                        {{ page.title }}
                    {% endif %}
                {% endwith %}
            </h2>
            <br>
            <p> 
                {% with pages_info|get_by_index:2 as page%}
                    {% if request.COOKIES.language == "AR" %}
                        {{ page.description_ar }}
                    {% else %}
                        {{ page.description }}
                    {% endif %}
                {% endwith %}
            </p>
            {% if Services %}
                <div class="fleet-container">
                    {% for car in Cars %}
                        <div class="fleet-item">
                            <img src="{{car.image.url}}" class="car-img" alt="Cairo Airport Limousine Fleet - اسطول ليموزين مطار القاهرة">
                            <br>
                            <div class="car-details">
                                <div class="car-name">
                                    <span>
                                        {% if request.COOKIES.language == "AR" %}
                                            {{car.name_ar}}
                                        {% else %}
                                            {{car.name}}
                                        {% endif %}
                                    </span>
                                    <div class="car-model">
                                        {{car.model}}
                                    </div>
                                </div>
                                <div class="car-specs">
                                    <div class="car-specs-row">
                                        <div>
                                            <i class="bi bi-person-fill"></i>
                                            {{car.person_count}} {% if request.COOKIES.language == "AR" %}
                                                اشخاص
                                            {% else %}
                                                Persons
                                            {% endif %}
                                        </div>
                                        <div>
                                            <i class="bi bi-briefcase-fill"></i>
                                            {{car.bag_count}} {% if request.COOKIES.language == "AR" %}
                                                حقائب
                                            {% else %}
                                                Bags
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="car-specs-row">
                                        <div>
                                            <i class="bi bi-calendar-check-fill"></i>
                                            {{car.reserve_days}} {% if request.COOKIES.language == "AR" %}
                                                يوم مقدما
                                            {% else %}
                                                Days in advance
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="car-details-separator"></div>
                                <div class="car-details-footer">
                                    <button type="button" class="btn" onclick="showModal(1)">
                                        {% if request.COOKIES.language == "AR" %}
                                            احجز الان
                                        {% else %}
                                            Reserve Now
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <br>
                <h3>
                    {% if request.COOKIES.language == "AR" %}
                        لا يوجد سيارات حاليا
                    {% else %}
                        No Cars are currently Available
                    {% endif %}
                </h3>
            {% endif %}
            
            <a type="button" class="btn read-more-outter" href="{% url 'fleet' %}">
                {% if request.COOKIES.language == "AR" %}
                    مشاهدة الكل
                    <i class="bi bi-arrow-left"></i>
                {% else %}
                    View All
                    <i class="bi bi-arrow-right"></i>
                {% endif %}
            </a>
        </div>
    </div>
    <div class="row section" id="sepcial-section">
        <div class="col-sm-10 m-auto pt-5 pb-5">
            <h2>
                {% if request.COOKIES.language == "AR" %}
                    اعجبناك !!!
                {% else %}
                    Like us Already
                {% endif %}
            </h2>
            <br>
            <p>
                {% if request.COOKIES.language == "AR" %}
                    لا تضيع الوقت و لا تضيع رحلتك
                {% else %}
                    Dont waste time and dont miss your flight
                {% endif %} <i class="bi bi-airplane-fill"></i>, 
                {% if request.COOKIES.language == "AR" %}
                    ابدا بحجز رحلتك الان
                {% else %}
                    starting booking your trip now.
                {% endif %}
            </p>
            <button type="button" class="btn read-more-outter special mt-4" onclick="showModal(1)">
                {% if request.COOKIES.language == "AR" %}
                    احجز الان
                {% else %}
                    Reserve Now
                {% endif %}
            </button>
        </div>
    </div>
    <div class="row section" id="section-4">
        <div class="section-icon">
            <i class="bi bi-geo-alt"></i>
        </div>
        <div class="col-sm-10 m-auto pt-5 pb-5">
            <h2> 
                {% if request.COOKIES.language == "AR" %}
                    موقعنا
                {% else %}
                    Main office
                {% endif %} 
            </h2>
            <br>
            <iframe class="map" src="{{Map.link}}" allowfullscreen="true" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="row section driver-section d-none" id="section-5">
        <div class="section-icon">
            <i class="bi bi-person-vcard-fill text-white"></i>
        </div>
        <div class="col-sm-10 m-auto pt-5 pb-5">
            <h2> 
                {% if request.COOKIES.language == "AR" %}
                    السائقين
                {% else %}
                    Drivers
                {% endif %} 
            </h2>
            <br>
            <p>
                <img src="https://www.leicesterexecutivechauffeurs.co.uk/newsite/wp-content/uploads/2014/03/chauffeurs-hire-966695_960_720.jpg"
                alt="Cairo Airport Limousine Drivers - سائقين ليموزين مطار القاهرة">
                {% if request.COOKIES.language == "AR" %}
                    لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في
                    صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما
                    قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع
                    شكلي لهذه الأحرف. خمسة قرون من الزمن لم تقضي على هذا النص، بل انه حتى صار مستخدماً وبشكله الأصلي في
                    الطباعة والتنضيد الإلكتروني. انتشر بشكل كبير في ستينيّات هذا القرن مع إصدار رقائق "ليتراسيت"
                    (Letraset) البلاستيكية تحوي مقاطع من هذا النص، وعاد لينتشر مرة أخرى مؤخراَ مع ظهور برامج النشر
                    الإلكتروني مثل "ألدوس بايج مايكر" (Aldus PageMaker) والتي حوت أيضاً على نسخ من نص لوريم إيبسوم.
                {% else %}
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap
                    into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                    the
                    release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing
                    software like Aldus PageMaker including versions of Lorem Ipsum.
                {% endif %}
            </p>
            <br>
        </div>
    </div>
    <div class="row section" id="section-6">
        <div class="section-icon">
            <i class="bi bi-headset"></i>
        </div>
        <div class="col-md-10 m-auto pt-5 pb-5">
            <h2>
                {% if request.COOKIES.language == "AR" %}
                    تواصل معنا
                {% else %}
                    Get in Touch
                {% endif %}
            </h2>
            <br>
            <div class="contact-container">
                <div class="contact-social">
                    <h3>
                        {% if request.COOKIES.language == "AR" %}
                            عن طريق السوشيال ميدايا
                        {% else %}
                            Via Socials
                        {% endif %}
                    </h3>
                    <div class="social-inner-container">
                        <a class="contact-social-item facebook" onmouseenter="animateSocial(this, true)" onmouseleave="animateSocial(this, false)" href="{{socials|get_social_link:'Facebook'}}" target="_blank">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a class="contact-social-item twitter" onmouseenter="animateSocial(this, true)" onmouseleave="animateSocial(this, false)" href="{{socials|get_social_link:'Twitter'}}" target="_blank">
                            <i class="bi bi-twitter"></i>
                        </a>
                        <a class="contact-social-item whatsapp" onmouseenter="animateSocial(this, true)" onmouseleave="animateSocial(this, false)" href="{{socials|get_social_link:'Whatsapp'}}" target="_blank">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                        <a class="contact-social-item instagram" onmouseenter="animateSocial(this, true)" onmouseleave="animateSocial(this, false)" href="{{socials|get_social_link:'Instagram'}}" target="_blank">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </div>
                </div>
                <div class="vert-line"></div>
                <div class="contact-booking">
                    <h3>
                        {% if request.COOKIES.language == "AR" %}
                            عن طريق هاتفنا او البريد الاليكتروني
                        {% else %}
                            Via Email or Phone
                        {% endif %}
                    </h3>
                    <div class="social-inner-container">
                        <div class="contact-booking-item">
                            <i class="bi bi-geo-alt-fill"></i>
                            <span>
                                {% if request.COOKIES.language == "AR" %}
                                    {{contact_info.address_ar}}
                                {% else %}
                                    {{contact_info.address}}
                                {% endif %}
                            </span>
                        </div>
                        <div class="contact-booking-item">
                            <i class="bi bi-telephone-fill"></i>
                            <span>{{contact_info.phone_1}}</span> or <span>{{contact_info.phone_2}}</span>
                        </div>
                        <div class="contact-booking-item">
                            <i class="bi bi-envelope-at-fill"></i>
                            <span>{{contact_info.email}}</span>
                        </div>
                    </div>
                    <button type="button" class="btn read-more-outter mt-0" onclick="showModal(2)">
                        {% if request.COOKIES.language == "AR" %}
                            الشكاوي و المقترحات
                        {% else %}
                            Complaines & suggesstions
                        {% endif %}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row section" id="section-7">
        <div class="section-icon">
            <i class="bi bi-quote text-white"></i>
        </div>
        <div class="col-sm-10 m-auto pt-5 pb-5">
            <h2>
                {% if request.COOKIES.language == "AR" %}
                    اراء العملاء
                {% else %}
                    Testimonials
                {% endif %}
            </h2>
            <br>
            <div class="testimonials-container">
                {% if Testimonials %}
                    {% for testimonial in Testimonials %}
                        <div class="testimonials-item card text-center">
                            <i class="bi bi-quote"></i>
                            <div class="card-body blockquote">
                                <p class="card-text">
                                    {{testimonial.quote}}
                                </p>
                                <div class="d-flex justify-content-center align-items-center mt-3 mb-4">
                                    {% with ''|center:5 as range %}
                                        {% for _ in range %}
                                            {% if forloop.counter <= testimonial.rating%}
                                                <i class="bi bi-star-fill rating-star active"></i>
                                            {% else %}
                                                <i class="bi bi-star rating-star"></i>
                                            {% endif %}
                                        {% endfor %}
                                    {% endwith %}
                                </div>
                                <footer class="blockquote-footer">
                                    <cite title="Source Title">
                                        {{testimonial.name}}
                                    </cite>
                                </footer>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    {% if request.COOKIES.language == "AR" %}
                        <h4>لا يوجد اراء العملاء في الوقت الحالي</h4>
                    {% else %}
                        <h4>There are no available testimonials at the moment</h4>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <br>
    </div>
    <div class="row section" id="section-8">
        <div class="section-icon">
            <i class="bi bi-chat-square-quote-fill"></i>
        </div>
        <div class="col-sm-4 m-auto pt-5 pb-5">
            <h2>
                {% if request.COOKIES.language == "AR" %}
                    اضف تقييم
                {% else %}
                    Submit A Review
                {% endif %}
            </h2>
            <br>
            {% if request.COOKIES.language == "AR" %}
            <form id="needs-validation-review" class="needs-validation row g-3 text-end" novalidate>
            {% else %}
            <form id="needs-validation-review" class="needs-validation row g-3 text-start" novalidate>
            {% endif %}
                {% csrf_token %}
                <div class="col-md-12">
                    <label for="review-name-field" class="form-label">
                        {% if request.COOKIES.language == "AR" %}
                            الاسم
                        {% else %}
                            Name
                        {% endif %}
                    </label>
                    <input type="text" class="form-control" id="review-name-field" name="name" required>
                </div>
                <div class="col-md-12">
                    <label for="review-quote-field" class="form-label">
                        {% if request.COOKIES.language == "AR" %}
                            التقييم
                        {% else %}
                            Review
                        {% endif %}
                    </label>
                    <textarea class="form-control" placeholder="" id="review-quote-field"
                            rows="3" name="details" required></textarea>
                </div>
                <div class="col-md-12 mt-5 text-center review-star-container">
                    <i class="bi bi-star-fill rating-star review-star" onmouseover="selectRate(this)" onmouseout="deSelectRate(this)" onclick="setRating(this)"></i>
                    <i class="bi bi-star-fill rating-star review-star" onmouseover="selectRate(this)" onmouseout="deSelectRate(this)" onclick="setRating(this)"></i>
                    <i class="bi bi-star-fill rating-star review-star" onmouseover="selectRate(this)" onmouseout="deSelectRate(this)" onclick="setRating(this)"></i>
                    <i class="bi bi-star-fill rating-star review-star" onmouseover="selectRate(this)" onmouseout="deSelectRate(this)" onclick="setRating(this)"></i>
                    <i class="bi bi-star-fill rating-star review-star" onmouseover="selectRate(this)" onmouseout="deSelectRate(this)" onclick="setRating(this)"></i>
                </div>
            </form>
            <button type="button" class="btn read-more-outter" onclick="submitReview()">
                {% if request.COOKIES.language == "AR" %}
                    ارسال
                {% else %}
                    Submit
                {% endif %}
            </button>
        </div>
        <br>
    </div>
</div>