{% load static %}
{% load extras %}
<!DOCTYPE html>
{% if request.COOKIES.language == "AR" %}
    <html lang="ar" dir="rtl">
{% else %}
    <html lang="en" dir="ltr">
{% endif %}

<head>
    {% if request.COOKIES.language == "AR" %}
        <title>ليموزين مطار القاهرة - 01000161277</title>
    {% else %}
        <title>Cairo Airport Limousine - 01000161277</title>
    {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="ليموزين مطار القاهرة
    , ليموزين المطار  , ليموزين مطار برج العرب , ليموزين الاسكندرية , ليموزين الساحل الشمالي, 
    Limousine Cairo, Airport Limousine, Alexandria Limousine">
    <meta name="description" content="Cairo Airport Limousine is the best Limousine company to prvoid the luxurious experiance and the comfort of home when traveling -
     شركة ليموزين القاهرة هي افضل شركة حيث تقدم تجربة الرفاهية والراحة المنزلية اثناء رحلاتك">
    <link rel="icon" type="image/x-icon" href="{% static 'limo_app/images/logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'limo_app/main/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'limo_app/section/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'limo_app/navbar/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'limo_app/libs/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css">
</head>

<body>
    <div class="nav-wrapper h-100">
        {% include 'navbar.html' %}
    </div>
    <div class="body-wrapper">
        <div id="main-body" class="main-body col-lg-12">
            {% with pages_info|get_by_index:0 as page%}
                <div class="parallax" style="background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url({{page.banner.url}});">
                    <img src="{% static 'limo_app/images/logo2.png' %}" alt="Cairo Airport Limousine - ليموزين ليموزين مطار القاهرة">
                </div>
            {% endwith %}
            {% include 'body.html' %}
        </div>
        {% include 'footer.html' %}
    </div>
    <div class="sections-buttons">
        <div class="section-item" data-bs-section="section-1" onclick="scrollToSection('section-1')"></div>
        <div class="section-item" data-bs-section="section-2" onclick="scrollToSection('section-2')"></div>
        <div class="section-item" data-bs-section="section-3" onclick="scrollToSection('section-3')"></div>
        <div class="section-item" data-bs-section="section-4" onclick="scrollToSection('section-4')"></div>
        <div class="section-item d-none" data-bs-section="section-5" onclick="scrollToSection('section-5')"></div>
        <div class="section-item" data-bs-section="section-6" onclick="scrollToSection('section-6')"></div>
        <div class="section-item" data-bs-section="section-7" onclick="scrollToSection('section-7')"></div>
    </div>
    {% include 'add-ons.html' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="{% static 'limo_app/libs/bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'limo_app/section/scripts.js' %}"></script>
    <script src="{% static 'limo_app/navbar/scripts.js' %}"></script>
    <script src="{% static 'limo_app/main/scripts.js' %}"></script>
</body>

</html>